BasedOnStyle: LLVM

IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100

SpaceBeforeParens: ControlStatements
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
KeepEmptyLines:
  AtEndOfFile: false

BreakBeforeBraces: Attach

DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left

SortIncludes: false
